#scheduleDateAndTime{
  display:flex;
}

#eventCreateForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  justify-content: space-between;
}

#selectUsersAndReminderToggle{
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
}

#startAndEndTime{
  display:flex;
  justify-content: flex-start;
}

#eventTextAndType{
  display:flex;

}
