<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Scheduled Date</th>
        <th scope="col">Due Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.name }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.scheduledDate }}</td>
        <td>{{ event.dueDate }}</td>
        <!-- <td><a href="mailto:{{ event.email }}">{{ event.email }}</a></td> -->
      </tr>
      </tbody>
    </table>
  </div>
</div>
