<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<h3>Design your schedule:</h3>
<!--
<div th:each="eventType : ${eventTypeList}">
    <input th:field="*{event.eventType}" type="checkbox"
           th:value="${event.eventType}"/>

    <span th:text="${event.eventType}">Event Name</span><br/>
</div>
-->

<form method="POST" th:object="${event}" th:action="@{/createEvent}">

    <select name="eventType">
        <option th:each="eventType : ${T(com.example.forgetmenote.models.Event.EventType).values()}"
                th:value="${eventType}" th:text="${eventType}"></option>
    </select>

    <div></div>
    <label>Event Name</label>
    <input type="text" th:field="*{name}">
    <div></div>
    <label>Event Description</label>
    <input type="text" th:field="*{description}">
    <div></div>
    <label>Scheduled Date</label>
    <input type="text" th:field="*{scheduledDate}">
    <div></div>
    <label>Due Date</label>
    <input type="text" th:field="*{dueDate}">

    <div name="Users" >
        <li th:each="user : ${userList}">
            <div>
                <input type="checkbox" th:field="${event.attendees}" th:value="${user.username}">
                <label th:text="${user.username}"> </label>
            </div>
        </li>
    </div>

    <button>Submit Event</button>
</form>


</body>
</html>