<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
  <h1>show this stuff</h1>

  <div id="eventAttribute">Name</div>
  <span th:text="${event.name}">EventInterface Name</span><br/>
  <div id="eventAttribute">Description</div>
  <span th:text="${event.description}">EventInterface Description</span>
  <div id="eventAttribute">Scheduled Date</div>
  <span th:text="${event.scheduledDate}">Scheduled date</span>
  <div id="eventAttribute">Due Date</div>
  <span th:text="${event.dueDate}">Due date</span>

  <span th:if="${event.active}">
    <form method="POST" th:object="${event}" th:action="@{/cancelEvent}">
      <button th:href="@{/eventDetails(id=${event.id})}">Cancel EventInterface</button>
    </form>
  </span>
  <span th:if="!${event.active}">
    <form method="POST" th:object="${event}" th:action="@{/activateEvent}">
      <button th:href="@{/eventDetails(id=${event.id})}">Reactivate EventInterface</button>
    </form>
  </span>
</body>
</html>